[package]
name = "fortifier"
description = "Schema validation."

authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true

[features]
default = ["macros", "regex", "url"]
indexmap = ["dep:indexmap"]
macros = ["dep:fortifier-macros"]
regex = ["dep:regex"]
url = ["dep:url"]

[dependencies]
fortifier-macros = { workspace = true, optional = true }
indexmap = { version = "2.12.0", optional = true }
regex = { workspace = true, optional = true }
url = { version = "2.5.7", optional = true }

[lints]
workspace = true
