[package]
name = "fortifier"
description = "Schema validation."

authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true

[features]
default = ["macros"]
macros = ["dep:fortifier-macros"]

[dependencies]
fortifier-macros = { workspace = true, optional = true }
