[package]
name = "fortifier"
description = "Schema validation."

authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true

[package.metadata.docs.rs]
all-features = true

[features]
default = ["macros"]
all-validations = ["email", "phone-number", "regex", "url"]
email = ["dep:email_address"]
indexmap = ["dep:indexmap"]
macros = ["dep:fortifier-macros"]
message = []
phone-number = ["dep:phonenumber"]
regex = ["dep:regex"]
serde = ["dep:serde", "email_address?/serde_support", "fortifier-macros?/serde"]
url = ["dep:url"]
utoipa = ["dep:utoipa", "fortifier-macros?/utoipa"]

[dependencies]
email_address = { workspace = true, default-features = false, optional = true }
fortifier-macros = { workspace = true, optional = true }
indexmap = { workspace = true, optional = true }
phonenumber = { workspace = true, optional = true }
regex = { workspace = true, optional = true }
serde = { workspace = true, features = ["derive"], optional = true }
url = { workspace = true, optional = true }
utoipa = { workspace = true, optional = true }

[dev-dependencies]
pretty_assertions = "1.4.1"
serde_json.workspace = true

[lints]
workspace = true
